Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Joshua/PN_LowpolyGras/Blueprints/PN_Bending_Component.uasset
Content/Joshua/PN_LowpolyGras/Blueprints/PN_GlobalUpdater.uasset
Content/Joshua/PN_LowpolyGras/Materials/MaterialFunctions/PN_BendingParameters.uasset
Content/Joshua/PN_LowpolyGras/Materials/MaterialFunctions/PN_AnimationShader.uasset
